<td><fa-icon [icon]="faXmark" style="cursor: pointer" (click)="remove()"/></td>
<td>{{connectionString.dbms}}</td>
<td><small>{{connectionString.text}}</small></td>
<td class="text-secondary">
  @if (healthCheckStatus == HealthCheckStatus.Pending) {
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only"></span>
    </div>
  }

  @if (healthCheckStatus == HealthCheckStatus.Healthy) {
    <div class="text-success" style="display: flex; flex-direction: row; flex-wrap: nowrap; gap: 5px; white-space: nowrap">
      <fa-icon [icon]="faCheck"/>
      <span class="d-block">{{ elapsedMs }} ms</span>
    </div>
  }

  @if (healthCheckStatus == HealthCheckStatus.Unhealthy) {
    <span [ngbPopover]="errorMessage" triggers="hover">
      <fa-icon [icon]="faXmark" class="text-danger"/>
    </span>
  }
</td>
<td></td>
