<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'deleteConfirmationModal.confirmDeletion' | translate }}</h4>
  </div>

  <div class="modal-body">
    {{ 'deleteConfirmationModal.areYouSure' | translate }}
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type="button" (click)="closeModal()">{{ 'deleteConfirmationModal.cancel' | translate }}</button>
    <button class="btn btn-danger" type="button" (click)="confirm()">{{ 'deleteConfirmationModal.confirm' | translate }}</button>
  </div>
</div>
