<form [formGroup]="settingsForm" (ngSubmit)="save()">

<div class="form-group mb-3">
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" class="form-control">
</div>

<div class="form-group mb-3">
  <label for="startDate">Start Date</label>
  <input id="startDate" type="datetime-local" formControlName="startDate" class="form-control">
</div>

<div class="form-group mb-3">
  <label for="finishDate">Finish Date</label>
  <input id="finishDate" type="datetime-local" formControlName="finishDate" class="form-control">
</div>

<div class="form-check mb-3">
  <input type="checkbox" class="form-check-input" id="isPublic" formControlName="isPublic">
  <label class="form-check-label" for="isPublic">Public</label>
</div>

</form>

<h5>Commission <fa-icon [icon]="faQuestionCircle" 
  [ngbPopover]="'Commission is a group of users who can manage automatically assigned grades.'" triggers="hover"/></h5>

<div class="form-group my-3">
  <div class="list-group">
    <div class="list-group-item list-group-item-action d-flex justify-content-between"
      *ngFor="let member of contest.commissionMembers">
      <div class="align-self-center">{{member.firstName}} {{member.lastName}} {{member.patronymic}}</div>
      <div>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeCommissionMember(member.id!)">
          <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-primary mb-3 d-block" (click)="openAddCommissionMemberModal()">
  <fa-icon [icon]="faPlus"></fa-icon>
  Add user
</button>

<button type="submit" class="btn btn-success mb-3" (click)="save()">Submit</button>

