<h1 class="mb-3">
  {{ 'schemaList.schemas' | translate }}
  @if (permissionsService.hasPermission('ManageSchemaDescriptions')) {
    <button (click)="addSchema()" class="btn btn-outline-primary">
      <fa-icon [icon]="faPlus"></fa-icon>
      {{ 'schemaList.add' | translate }}
    </button>
  }
</h1>

@for (schema of schemas; track schema.id) {
  <div class="card mb-3">

    <div class="card-body">
      <h5 class="card-title">
        {{schema.name}}

        @if (permissionsService.hasPermission('ManageSchemaDescriptions')) {
          <button (click)="deleteSchema(schema.id ?? '')" class="btn btn-sm btn-outline-primary">
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </button>
        }
      </h5>

      @for (file of schema.files; track file.dbms) {
        <div class="d-flex flex-row my-1">
          <div class="flex-grow-1 p-2">
            <span>{{file.dbms}}</span>
            @if (file.hasProblems) {
              <fa-icon [icon]="faTriangleExclamation" [ngbPopover]="file.problems"
                       class="text-danger" triggers="hover"></fa-icon>
            }
          </div>
          <div class="flex-grow-0">
            <button class="btn btn-sm btn-outline-primary mx-1" (click)="download(file, schema)">
              <fa-icon [icon]="faDownload"></fa-icon>
            </button>

            @if (permissionsService.hasPermission('ManageSchemaDescriptions')) {
              <button (click)="upload(schema.id ?? '', file.dbms ?? '')" class="btn btn-sm btn-outline-primary mx-1">
                <fa-icon [icon]="faUpload"></fa-icon>
              </button>
              <button (click)="deleteFile(schema.id ?? '', file.dbms ?? '')" class="btn btn-sm btn-outline-primary mx-1">
                <fa-icon [icon]="faTrashCan"></fa-icon>
              </button>
            }
          </div>
        </div>
      }

      @if (permissionsService.hasPermission('ManageSchemaDescriptions') && canAddSomeFile(schema)) {
        <button (click)="addFile(schema.id ?? '')" class="btn btn-outline-primary">
          <fa-icon [icon]="faPlus"></fa-icon>
          {{ 'schemaList.addFile' | translate }}
        </button>
      }
    </div>

  </div>
}
