<div class="row">
  <div class="d-flex flex-column col-sm-4 col-md-3">

    <h4 *ngIf="showTimer()" class="sidebar-heading px-3 mb-1 text-muted">
      <fa-icon [icon]="faClock"></fa-icon>
      <span class="mx-2"><app-timer [until]="contestGoingOnUntil" [onEnd]="onContestEnded"/></span>
    </h4>

    <ul class="nav nav-pills flex-column mb-auto">
      <ng-template ngFor let-link [ngForOf]="listItems">
        <li class="nav-item" *ngIf="link.requiresPermission ? this.permissionsService.hasPermission(link.requiresPermission) : true">
          <a [routerLink]="[link.route]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="nav-link">
            <fa-icon [icon]="link.icon" class="sidebar-icon"></fa-icon>
            {{ link.text | translate }}
          </a>
        </li>
      </ng-template>
    </ul>

  </div>
  <div class="col-sm-8 col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
