<h1>{{ contest?.name }}</h1>
<p>{{'contestApplication.thisContestWillBeHeldOn' | translate}} {{contest?.startDate | date:'fullDate'}} {{'contestApplication.at' | translate}} {{contest?.startDate | date:'shortTime'}}.</p>

@if (!alreadyApplied) {
  <div>
    <p>{{'contestApplication.toParticipateInContest' | translate}}</p>
    <p>{{'contestApplication.yourApplicationWill' | translate}}</p>
    <button (click)="apply()" class="btn btn-primary">{{'contestApplication.apply' | translate}}</button>
  </div>
}

@if (alreadyApplied) {
  @if (isApplicationApproved) {
    <p>{{'contestApplication.youHaveAlreadyAppliedYouAreParticipant' | translate}}</p>
  } @else {
    <p>{{'contestApplication.youHaveAlreadyAppliedApplicationUnderReview' | translate}}</p>
  }
  <div>
    {{'contestApplication.timeRemaining' | translate}}: @if (displayTimer) { <app-timer [until]="contestStartDate" [onEnd]="onContestStarted"></app-timer> }
  </div>
}
