<div class="input-group mb-3">
  <button class="btn btn-primary" (click)="addParticipant()"><fa-icon [icon]="faPlus"/> {{ 'participants.add' | translate }}</button>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>{{ 'scoreboard.name' | translate }}</th>
      <th>{{ 'participants.actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>

      @for (application of contestApplications; track application.id; let i = $index) {
        <tr>
          <td>{{i + 1}}</td>
          <td><app-principal-card [principal]="application" /></td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="approveApplication(application)">{{ 'participants.approve' | translate }}</button>
          </td>
        </tr>
      }

      @for (participant of participants; track participant.id; let i = $index) {
        <tr>
          <td>{{i + 1}}</td>
          <td><app-principal-card [principal]="participant" /></td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteParticipant(participant)">{{ 'participants.remove' | translate }}</button>
          </td>
        </tr>
      }

    </tbody>
  </table>
</div>
