<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'attempts.author' | translate }}</th>
      <th>{{ 'attempts.time' | translate }}</th>
      <th>{{ 'attempts.dialect' | translate }}</th>
      <th>{{ 'attempts.status' | translate }}</th>
    </tr>
  </thead>

  <tbody *ngIf="attempts.length > 0">
    <tr *ngFor="let attempt of attempts" (click)="onAttemptClick(attempt.id!)" [class.c-pointer]="canViewAttempt(attempt)">
      <td>
        {{attempt.authorFirstName}} {{attempt.authorLastName}}
      </td>
      <td>
        {{attempt.createdAt + 'Z' | date:'dd.MM.yyyy HH:mm:ss'}}
      </td>
      <td>
        {{attempt.dbms}}
      </td>
      <td [ngbPopover]="attempt.errorMessage" triggers="hover">
        <span>{{statusToString(attempt.status!)}}</span>
      </td>
    </tr>
  </tbody>

  <tbody *ngIf="attempts.length === 0">
    <tr>
      <td colspan="4" class="text-center">{{ 'problemAttempts.noAttemptsYet' | translate }}</td>
    </tr>
  </tbody>
</table>