<div class="row">
  <div class="d-flex flex-column col-sm-4 col-md-3">

    <ul class="nav nav-pills flex-column mb-auto">
      @for (link of listItems; track link.id) {
        <li class="nav-item">
          <a [routerLink]="[link.route]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="nav-link">
            <fa-icon [icon]="link.icon" class="sidebar-icon"></fa-icon>
            {{ link.text | translate }}
          </a>
        </li>
      }
    </ul>

  </div>
  <div class="col-sm-8 col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
