<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'editTextModal.editContestDescription' | translate }}</h4>
  </div>

  <div class="modal-body">
    <app-editor-with-attachments
      [(value)]="text"
    />
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">{{ 'editTextModal.close' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="save()">{{ 'editTextModal.saveChanges' | translate }}</button>
  </div>
</div>
