<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'passwordResetModal.title' | translate }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="name">{{ 'passwordResetModal.password' | translate }}</label>
      <input class="form-control" id="password" [(ngModel)]="password">
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type="button" (click)="closeModal()">{{ 'inputObjectNameModal.cancel' | translate }}</button>
    <button class="btn btn-primary" type="button" (click)="confirm()">{{ 'inputObjectNameModal.confirm' | translate }}</button>
  </div>
</div>
