<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Author</th>
        <th>Problem</th>
        <th>Dialect</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attempt of attempts" (click)="viewAttemptIfHasClaim(attempt.id!)" [class.c-pointer]="canViewAttempt(attempt)">
        <td>
          {{attempt.authorFirstName}} {{attempt.authorLastName}}
        </td>
        <td>
          {{attempt.problemName}}
        </td>
        <td>
          {{attempt.dbms}}
        </td>
        <td>
          {{attempt.createdAt + 'Z' | date:'dd.MM.yyyy HH:mm:ss'}}
        </td>
        <td [ngbPopover]="attempt.errorMessage" triggers="hover">
          <span>{{statusToString(attempt.status!)}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
