<div class="row">
  @if (authenticationHelperService.isAuthenticated()) {
    <div class="col-sm-6">
      <h3>
        <fa-icon [icon]="faClock"></fa-icon>
        {{ 'contests.currentContests' | translate }}

        @if (permissionsService.hasPermission('ManageContests')) {
          <button
            (click)="createContest()"
            class="btn btn-sm btn-outline-primary">
            <fa-icon [icon]="faPlus"></fa-icon>
            {{ 'contests.create' | translate }}
          </button>
        }
      </h3>

      @for (contest of currentContests(); track contest.id) {
        <div class="my-2">
          <small><strong>
            {{ contest.startDate | date: 'MMM d, yyyy H:mm' }}
          </strong></small>

          @if (shouldOpenContestOnceItStarts(contest)) {
            <a class="d-block" [routerLink]="['#']">{{ contest.name }}</a>
          }

          @if (shouldOpenContest(contest)) {
            <a class="d-block" [routerLink]="['/contest', contest.id, 'problems']">
              {{ contest.name }}
            </a>
          }

          @if (shouldOpenContestApplication(contest)) {
            <span class="d-block">
              <a [routerLink]="['/contest-application', contest.id]">{{ contest.name }}</a>

              @if (!contest.userParticipates) {
                <span class="badge bg-primary mx-1">{{ 'contests.application' | translate }}</span>
              } @else {
                <span class="badge bg-success mx-1">{{ 'contests.youParticipate' | translate }}</span>
              }
            </span>
          }

          @if (tooLateToApply(contest)) {
            <a class="d-block" [routerLink]="['/scoreboard', contest.id]">
              {{ contest.name }}
            </a>
          }
        </div>
      }
    </div>
  }

  <div class="col-sm-6">
    <h3>
      <fa-icon
        [icon]="faChartSimple">
      </fa-icon>
      {{ 'contests.contestResults' | translate }}
    </h3>

    @for (contest of finishedContests(); track contest.id) {
      <div class="my-2">
        <small><strong>
          {{ contest.startDate | date: 'MMM d, yyyy' }}
        </strong></small>
        <a class="d-block" [routerLink]="['/scoreboard', contest.id]">
          {{ contest.name }}
        </a>
      </div>
    }
  </div>
</div>

