<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Name</th>
        <th *ngFor="let problem of scoreboard?.[0]?.problems" [routerLink]="['../problems', problem.problemId]"
          class="c-pointer">
          {{ problem.name }}
        </th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody *ngIf="!scoreboardLoading">
      <tr *ngFor="let entry of scoreboard; let i = index">
        <td>{{i + 1}}</td>
        <td>{{entry.firstName}} {{entry.lastName}}</td>
        <td *ngFor="let problem of entry.problems" (click)="onCellClick(problem, entry)"
          [class.c-pointer]="canViewSrc(problem, entry)">
          <fa-icon [icon]="faCheck"
                    class="text-success"
                    title="Solved"
                    [fixedWidth]="true"
                    *ngIf="problem.isSolved"></fa-icon>
          <fa-icon [icon]="faTimes"
                    class="text-danger"
                    title="Not solved"
                    [fixedWidth]="true"
                    *ngIf="!problem.isSolved && (problem.attemptsCount || 0) > 0"></fa-icon>
          <span *ngIf="problem.isSolved">{{ problem.grade }}/{{ problem.maxGrade }}</span>
          <span *ngIf="!problem.isSolved && (problem.attemptsCount || 0) > 0">{{ problem.attemptsCount }}</span>
          <fa-icon [icon]="faMinus"
                    class="text-secondary"
                    title="Not attempted"
                    [fixedWidth]="true"
                    *ngIf="!problem.isSolved && (problem.attemptsCount || 0) === 0"></fa-icon>
        </td>
        <td>{{ entry.finalGrade }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="scoreboardLoading">
      <tr>
        <td colspan="3" class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
      </tr>
  </table>
</div>
