<div>
  <div class="d-flex mb-2" style="gap: 5px; align-items: center;"
    *ngIf="hasManageContestsClaim || canAdjustContestGrades">
    <a [routerLink]="['/contest', activatedRoute.snapshot.params.contestId]"
      class="btn btn-primary">Go to Contest</a>
    <button class="btn btn-primary" (click)="downloadReport()"><fa-icon [icon]="faFileArrowDown"/> Download report</button>
    <button *ngIf="!currentUserApproved() && contestIsFinished()" class="btn btn-primary" (click)="onApproveClick()">Approve</button>
    <span *ngIf="isNotApprovedBySomeone() && contestIsFinished()" [ngbPopover]="getUnapprovedUsersNames()" placement="bottom"
    triggers="hover">Some commission members did not approve the final results yet</span>
  </div>
  <app-scoreboard />
</div>