<div class="d-flex align-items-center" style="gap: 10px;">
  <h1 class="mb-3">
    {{ 'problemList.problems' | translate }}
  </h1>
  <button (click)="addProblem()" *ngIf="permissionsService.hasPermission('ManageProblems')" class="btn btn-outline-primary">
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ 'problemList.add' | translate }}
  </button>
  <button (click)="editDescription()" class="btn btn-outline-primary" *ngIf="permissionsService.hasPermission('ManageProblems')">
    <fa-icon [icon]="faPenToSquare"></fa-icon>
    {{ 'problemList.editDescription' | translate }}
  </button>
</div>

<markdown
  *ngIf="contest?.description?.length! > 0"
  style="margin-bottom: 10px"
  [data]="contest?.description"
></markdown>

<div class="card mb-3" *ngFor="let problem of problems">

  <div class="card-body">
    <h5 class="card-title d-flex justify-content-start align-items-center">
      <span style="margin-right: 1px;">{{problem.name}}</span>
      <small class="mx-1 text-secondary">{{problem.maxGrade}} point{{problem.maxGrade === 1 ? '' : 's'}}</small>
      <button class="btn btn-sm btn-outline-primary mx-1" *ngIf="permissionsService.hasPermission('ManageProblems')" [routerLink]="[problem.id, 'edit']" >
        <fa-icon [icon]="faPencil"></fa-icon>
      </button>
      <button class="btn btn-sm btn-outline-primary mx-1" *ngIf="permissionsService.hasPermission('ManageProblems')" (click)="deleteProblem(problem.id ?? '')">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </h5>
    <p class="card-text">
      <markdown
        [data]="problem.statement?.toString()?.split('\n')?.slice(0, 5)?.join('\n')"/>
    </p>
  </div>
  <div class="card-footer">
    <a [routerLink]="['../problems', problem.id]" class="btn btn-primary">{{ 'problemList.goToTheProblem' | translate }}</a>
  </div>

</div>
