<h3>{{ problem.name }}<small class="text-muted mx-2">{{ problem.maxGrade }} point{{ problem.maxGrade! > 1 ? 's' : '' }}</small>
  <button
    *ngIf="userHasManageContestsClaim"
    [routerLink]="['edit']" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="faPencil"></fa-icon>
  </button>
</h3>

<div *ngIf="problem.caseSensitive"><fa-icon [icon]="faA" class="constraint-icon"></fa-icon> Case sensitive</div>
<div *ngIf="problem.orderMatters"><fa-icon [icon]="faArrowDownShortWide" class="constraint-icon"></fa-icon> Row order matters</div>
<div *ngIf="problem.floatMaxDelta"><fa-icon [icon]="faPlusMinus" class="constraint-icon"></fa-icon> Max delta: {{ problem.floatMaxDelta }}</div>

<div class="problem-description mt-3">
  <markdown
    [data]="problem.statement"
    ></markdown>
</div>

<div *ngIf="canSubmitSolution()">
  <h4>Your solution</h4>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="contestantSolutionDialect">Dialect</label>
    <div class="col-sm-10 mb-3">
      <select id="contestantSolutionDialect" class="form-select" [(ngModel)]="selectedContestantSolutionDialect">
        <option *ngFor="let dialect of problem.availableDbms" [value]="dialect">{{ dialect }}</option>
      </select>
    </div>
  </div>
  <ngx-monaco-editor *ngIf="!!problem.statement"
    [options]="editorOptions"
    [(ngModel)]="contestantSolution"
    theme="vs-dark"
  ></ngx-monaco-editor>

  <div class="mt-3 mb-3">
    <button class="btn btn-primary"
      (click)="onContestantSubmit()"
      [disabled]="submitSolutionDisabled()"
      *ngIf="!awaitingCheckResult"
    >Submit</button>
    <div class="spinner-border" *ngIf="awaitingCheckResult" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<app-problem-attempts [problemId]="problemId!" (refresh)="handleRefreshCallback($event)"></app-problem-attempts>