<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5">
      <h5 class="card-title">Password reset</h5>
      <div class="form-group my-3">
        <label for="password">New password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password">
      </div>
      <div class="form-group my-3">
        <label for="password_confirmation">Confirm new password</label>
        <input type="password" class="form-control" id="password_confirmation" [(ngModel)]="confirmPassword">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!passwordsAreOk()" (click)="confirm()">Reset</button>
      </div>
    </div>
  </div>
</div>
