<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5">
      <h5 class="card-title">{{ 'passwordReset.passwordReset' | translate }}</h5>
      <div class="form-group my-3">
        <label for="password">{{ 'passwordReset.newPassword' | translate }}</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password">
      </div>
      <div class="form-group my-3">
        <label for="password_confirmation">{{ 'passwordReset.confirmNewPassword' | translate }}</label>
        <input type="password" class="form-control" id="password_confirmation" [(ngModel)]="confirmPassword">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!passwordsAreOk()" (click)="confirm()">{{ 'passwordReset.reset' | translate }}</button>
      </div>
    </div>
  </div>
</div>
