<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Email" [(ngModel)]="participantToAddEmail">
  <button class="btn btn-primary" (click)="addParticipant()">{{ 'participants.add' | translate }}</button>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>№</th>
      <th>{{ 'confirmSignUp.firstName' | translate }}</th>
      <th>{{ 'confirmSignUp.lastName' | translate }}</th>
      <th>{{ 'confirmSignUp.patronymic' | translate }}</th>
      <th>{{ 'confirmSignUp.additionalInfo' | translate }}</th>
      <th>{{ 'participants.email' | translate }}</th>
      <th>{{ 'participants.actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participants; let i = index">
        <td>{{i + 1}}</td>
        <td>{{participant.firstName}}</td>
        <td>{{participant.lastName}}</td>
        <td>{{participant.patronymic}}</td>
        <td>{{participant.additionalInfo}}</td>
        <td>{{participant.email}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteParticipant(participant)"
            *ngIf="participant.isApplicationApproved">{{ 'participants.remove' | translate }}</button>
          <button class="btn btn-sm btn-warning" (click)="approveApplication(participant)"
            *ngIf="!participant.isApplicationApproved">{{ 'participants.approve' | translate }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
